::-moz-selection {
    background: var.$na2;
    color: var.$white;
}
::selection {
    background: var.$na;
    color: var.$white;
}
::-webkit-scrollbar {
    background: var.$white; // srcoll bar background
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var.$na2;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var.$na;
}
