.home {
    width: calc(100%);
    border-radius: var.$fs-12;
    margin: var.$fs-24 auto;

    h3 {
        font-weight: bold;
        font-size: var.$fs-20;
        margin-top: var.$fs-20;
    }

    .block {
        // min-height: 300px;
        // height: 300px;
        padding: 10px;
        display: grid;
        grid-gap: var.$fs-16;
        gap: var.$fs-16;
        grid-template-columns: repeat(4, 1fr);

        .target-left {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-gap: var.$fs-16;
            gap: var.$fs-16;
        }
        .target-box {
            position: relative;
            background: var.$white;
            border-radius: var.$fs-12;
            padding: 18px;

            // border-top: 2px solid rgba(255, 255, 255, 0.3451);
            // border-left: 2px solid rgba(255, 255, 255, 0.3451);
            // border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            // border-right: 2px solid rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);

            .target {
                // width: 100%;
                height: auto;
                margin: 10px 0;
                display: flex;
                span {
                    font-size: var.$fs-48;
                    line-height: var.$fs-48;
                    font-weight: 900;
                }
            }
            span {
                font-size: var.$fs-14;
            }
            button {
                position: absolute;
                top: 18px;
                right: 18px;
                height: 24px;
                padding: 0px;
                border-radius: 5px;
                background-color: transparent;
                cursor: pointer;
                // @include svgIcon.svg_color(var.$white);
            }

            .icon {
                // position: absolute;
                // bottom: 0px;
                // right: 18px;
                width: 100px;
                // max-width: 60px;
                background: var.$green; // #1c908e
                border-radius: var.$fs-12 0 0 var.$fs-12;
                padding: 18px;

                img {
                    width: 100%;
                }
            }

            .inner {
                width: calc(100% - 100px);
                border-radius: 0 0.75rem 0.75rem 0;
                padding: 18px;
                display: flex;
                flex-direction: column;

                // button {
                //     position: unset;
                //     padding: 0;
                //     background-color: transparent;
                //     text-align: right;
                //     cursor: pointer;

                //     @include svg_color();
                // }
            }
        }

        .progress-number {
            margin-left: var.$fs-4;
            text-align: right;
        }

        .progress {
            position: relative;
            width: 100%;
            margin-bottom: var.$fs-22;

            .progress-bar {
                width: 100%;
                border-radius: var.$radius-40;
                .bar-mian {
                    position: relative;
                    z-index: 1;
                    width: 85%;
                    height: var.$fs-18;
                    border-radius: var.$radius-40;
                    background-color: var.$gay;
                    margin-bottom: var.$fs-8;
                    .bar-current {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        width: 40%;
                        height: var.$fs-18;
                        background: var.$green;
                        border-radius: var.$radius-40;
                        transition: all 0.5s ease;
                    }
                    .warning {
                        background: var.$warning;
                    }
                    .bar-number {
                        position: absolute;
                        right: -18%;
                        bottom: -2px;
                    }
                }
            }
        }

        .green {
            background: var.$green;
            color: var.$white;
        }
        .machine_card {
            display: flex;
            padding: 0px;
        }

        .machine_card_useless {
            box-shadow: 0 0 0 0 transparent;
            .icon {
                background-image: none !important;
                background: var.$na2;
                img {
                    filter: grayscale(100%);
                }
            }
            .inner {
                background-image: none !important;
                background: var.$select_bg;
                color: var.$na;
            }
        }

        @media screen and (max-width: 1365px) {
            grid-template-columns: repeat(2, 1fr);
        } /* iPad */
        @media screen and (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
        } /* iPad mini & iphone */
    }
}

// #lineChart {
//     width: 100%;
//     height: 100%;
//     margin: auto;
// }
