.login {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var.$bg_color;
    background-image: url('@/assets/images/bg-login.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    .logo {
        width: 300px;
        position: fixed;
        top: 0px;
        left: 15px;
    }
    .login_form {
        z-index: 2;
        width: 500px;
        height: auto;
        background-color: var.$white;
        border-radius: var.$fs-40;
        padding: var.$fs-26;

        border-top: 2px solid rgba(255, 255, 255, 0.3451);
        border-left: 2px solid rgba(255, 255, 255, 0.3451);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        border-right: 2px solid rgba(0, 0, 0, 0.1);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);

        h1 {
            font-size: var.$fs-40;
            margin-bottom: 20px;
            // color: $white;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            letter-spacing: 1px;
            text-align: center;
        }
        .form-group {
            line-height: var.$fs-40;
            margin-bottom: var.$fs-30;
            .form-group-password-label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .forget {
                    cursor: pointer;
                }
            }
            .form-group-password {
                position: relative;
            }
            label {
                font-size: var.$fs-16;
                font-weight: 700;
            }
            input {
                width: 100%;
                font-size: var.$fs-20;
                color: var.$black;
                background: var.$select_bg;
                border: 1px solid var.$select_border;
                border-radius: var.$fs-104;
                outline: none;
                padding: 10px 20px;
                transition: 0.1s linear;
            }
            input:focus {
                border: 1px solid var.$select_action;
                background: var.$select_action;
                box-shadow: inset 0 0px 6px rgba(100, 100, 100, 0.4);
            }
            p {
                color: var.$green;
            }
        }

        @media screen and (max-width: 767px) {
            width: 90%;
        } /* iPad mini & iphone */
    }
}
