.login {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg_color;
    background-image: url('@/assets/images/bg-login.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    .login_form {
        width: 500px;
        height: auto;
        background-color: $white;
        border-radius: $fs-40;
        padding: $fs-26;
        h1 {
            font-size: $fs-40;
            margin-bottom: 20px;
            // color: $white;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            letter-spacing: 1px;
            text-align: center;
        }
        .form-group {
            line-height: $fs-40;
            margin-bottom: $fs-30;
            .form-group-password-label {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .form-group-password {
                position: relative;
            }
            label {
                font-size: $fs-16;
                font-weight: 700;
            }
            input {
                width: 100%;
                font-size: $fs-20;
                color: $black;
                background: $select_bg;
                border: 1px solid $select_border;
                border-radius: $fs-104;
                outline: none;
                padding: 10px 20px;
                transition: 0.1s linear;
            }
            input:focus {
                border: 1px solid $select_action;
                background: $select_action;
                box-shadow: inset 0 0px 6px rgba(100, 100, 100, 0.4);
            }
            p {
                color: $green;
            }
        }
    }
}
