.survey {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;
    // height: calc(100vh - 140px);

    display: flex;
    align-items: center;
    justify-content: center;
    // background: var.$bg_color;
    // background-image: url('@/assets/images/survey.png');
    // background-image: linear-gradient(135deg, #fff, #20a2a0, #478cd1);

    .survey_content {
        z-index: 1;
        max-width: 100%;
        width: 650px;
        height: auto;
        background-color: var.$white;
        border-radius: var.$fs-40;
        padding: var.$fs-32;
        // margin: var.$fs-20 0;
        .survey_form {
            // height: 75vh;
            // overflow-y: auto;
            // overflow-x: hidden;
            padding: var.$fs-8;
            h1 {
                font-size: var.$fs-40;
                margin-bottom: var.$fs-20;
                // color: $white;
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                letter-spacing: 1px;
                text-align: center;
            }
            .survey_group {
                .survey_question {
                    font-weight: bold;
                    line-height: var.$fs-36;
                    margin: var.$fs-30 0;
                    .options {
                        width: 188px;
                        // margin-right: -14px;
                        margin-left: auto;

                        ul {
                            display: flex;
                            justify-content: space-between;
                            white-space: nowrap;
                            list-style: none;
                        }
                    }
                    .radio_items {
                        li {
                            display: flex;
                            justify-content: space-between;

                            .radio_group_label {
                            }
                        }
                    }
                    .radio_row {
                        display: flex;
                    }
                    .error_message {
                        color: var.$danger;
                        font-weight: normal;
                    }
                }
            }
        }

        @media screen and (max-width: 767px) {
            max-width: 100%;
            width: 100%;
            padding: var.$fs-10;
            border-radius: var.$fs-20;
            .radio_group_label {
                width: 40%;
            }
        } /* iPad mini & iphone */
    }
}
